.pd-view {
  /* unvisited link */
  a:link {
    color: ivory;
  }

  /* visited link */
  a:visited {
    color: bisque;
  }

  /* mouse over link */
  a:hover {
    color: orange;
  }

  /* selected link */
  a:active {
    color: mintcream;
  }
}
